body {
	padding:0;
	margin:0;
}
#map {
	position:absolute;
	width:100%;
	height:100%;
}
div.leaflet-div-icon {
  border-radius: 3px;
  background-image: none;
  -webkit-background-image: none;
  -moz-background-image: none;
}

div.leaflet-div-icon div div.legend-box {
  border: 1px solid black;
}

.popupContent {
  font-weight: bold;
}
